a {
  text-decoration: none;
}
.selected {
  background-color: brown;
}

td {
  background-color: burlywood;
}

th {
  width: 40px;
  height: 25px;
}

.section1 {
  background-color: lightblue;
  display: flex;
  justify-content: space-around;
  padding: 20px; /*반응형까지는 아니여도 화면 크기 줄이고 늘릴 때 그에 맞게 변하게 하고 싶으면 width, height 지정하지 말고 padding만 주기*/
  align-items: center;
}

.section2 {
  background-color: lightcyan;
  margin: 0 50px;
  padding: 0 20px;
}

.section3 {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.section3-1 {
  background-color: linen;
  padding: 20px;
}

.section3-2 {
  background-color: linen;
  padding: 20px;
}

.section3-3 {
  background-color: mistyrose;
  padding: 10px;
}

#image {
  width: 140px;
  height: 140px;
  margin-left: 10px;
}

.highlight {
  background-color: lightyellow;
}

.youtube {
  width: 560px;
  height: 315px;
}

.img {
  width: 50px;
  height: 50px;
}
