:root {
  --coconutwhite: rgb(239, 240, 241);
  --foggray: rgb(208, 211, 212);
  --cloudygray: rgb(193, 198, 200);
  --mushroomgray: rgb(196, 191, 182);
  --grandmagray: rgb(178, 180, 178);

  --rhinogray: rgb(157, 150, 141);
  --koalagray: rgb(137, 141, 141);

  --mousegray: ;
  --sardinegray: ;
}
